{% extends "base.html.j2" %}

{% block content %}

{% include "/partials/header.html.j2" %}

<div class="content">
    <div class="topnav">
        <div class="nav-btn nav-btn--left"></div>
        <div class="nav-btn nav-btn--right"></div>
    </div>
    <h2>Add Criteria</h2>
</div>

{% endblock content %}