<header class="header">
    <div class="header__content">
        <a href="https://www.nbu.bg/" target="_blank"><i class="nbu-logo nbu-logo--large"></i></a>
        <nav class="header__nav">
            <ul class="header__list">
                <li><a href="#" class="header__link" target="_blank"><span class="header__text-container">Docs</span></a></li>
                <li><a href="https://github.com/maconsta/multiple-criteria-decision-analysis" class="header__link" target="_blank"><span class="header__text-container">GitHub</span><i class="github-logo github-logo--large"></i></a></li>
            </ul>
        </nav>
    </div>
</header>