<template id="criteria-modal">
    <swal-html>
    <p class="align-left">
        To add a criterion, click on the button "Add Criterion". Example criteria are "price", "weight", "range", etc. Each criterion can be either beneficial or non-beneficial. A criterion is beneficial if its benefits are positive, for example "high gas milage" would be beneficial, while on the other hand "price" would be non-beneficial.
    </p>
    <p class="align-left">
        To continue to adding weights and alternatives, please click on "Set Criteria", which will lock the editing of the input table. To edit the criteria, please click on "Unlock Editing".
    </p>
    </swal-html>
</template>

<template id="weights-modal">
    <swal-html>
    <p class="align-left mb-30">
        Criterion weights are calculated by doing pairwise comparison between all criteria. The following scale can be used to determine the relative importance of one criteria to another. Compare the criteria in the row to the criteria in the column. If the row crit is of lower importance than the column crit, it will take the reciprocal value.
    </p>
    <table class="modal-table">
        <thead>
            <tr>
                <th class="align-center">Value</th>
                <th class="align-center">Definition</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Equal Importance</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Low Importance</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Substantial Importance</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Significant Importance</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Absolute Importance</td>
            </tr>
            <tr>
                <td>2,4,6,8</td>
                <td>Intermediate values</td>
            </tr>
        </tbody>
    </table>
    </swal-html>
</template>

<template id="alternatives-modal">
    <swal-html>
    <p class="align-left mb-30">
        To add an alternative please click on the "Add Alternative" button. Please use the following interval scale to transform any qualitative criteria to quantitive.
    </p>
    <table class="modal-table">
        <thead>
            <tr>
                <th class="align-center">Value</th>
                <th class="align-center">Definition</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>Extremely Bad</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Very Bad</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bad</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Average</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Above Average</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Very Good</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Exceptional</td>
            </tr>
        </tbody>
    </table>
    </swal-html>
</template>
