@mixin content-wrapper {
    width: 1200px;

    @media screen and (max-width: 1220px) {
        width: 780px;
    }

    @media screen and (max-width: 600px) {
        width: 400px;
    }
}

@mixin button-transition {
    transition: 0.4s ease 0s ;
}