/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*! jQuery UI - v1.13.2 - 2024-01-27
* http://jqueryui.com
* Includes: draggable.css, sortable.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.ui-draggable-handle {
  -ms-touch-action: none;
  touch-action: none;
}

.ui-sortable-handle {
  -ms-touch-action: none;
  touch-action: none;
}

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  row-gap: 30px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.mb-30 {
  margin-bottom: 30px;
}

.nbu-logo {
  display: inline-block;
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/nbu_logo.png");
}
.nbu-logo--large {
  height: 75px;
  width: 130px;
}
.github-logo {
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/github_logo.png");
}
.github-logo--large {
  height: 30px;
  width: 30px;
}
.x-icon {
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/x.svg");
  cursor: pointer;
  border-radius: 50%;
}
.x-icon--disabled {
  cursor: not-allowed;
}
.x-icon--large {
  height: 30px;
  width: 30px;
}
.x-icon:hover {
  background-color: #dcdcdc;
}

.reorder-icon {
  display: inline-block;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/reorder.svg");
  cursor: grab;
  border-radius: 50%;
}
.reorder-icon--large {
  height: 30px;
  width: 30px;
}
.reorder-icon--disabled {
  cursor: not-allowed;
}
.reorder-icon:hover {
  background-color: #dcdcdc;
}

.chevron {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #0F1035;
}
.chevron--active .chevron__img {
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.chevron--disabled {
  background-color: #c6c6c6;
}
.chevron__img {
  transition: 0.4s ease 0s;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/chevron_down.svg");
  cursor: pointer;
}

.help-icon {
  display: inline-block;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/help-circle.svg");
  cursor: pointer;
  height: 24px;
  width: 24px;
  color: red;
}

.header {
  height: 75px;
  width: 100%;
  background-color: #0F1035;
  display: flex;
  justify-content: center;
  color: white;
}
.header__content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1220px) {
  .header__content {
    width: 780px;
  }
}
@media screen and (max-width: 600px) {
  .header__content {
    width: 400px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__list a:hover {
  text-decoration: underline;
}
.header__text-container {
  padding-top: 1px;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-table {
  margin-top: 35px;
}
.input-table th {
  padding: 10px;
  height: 40px;
  vertical-align: middle;
  background-color: #0F1035;
  color: #fff;
}
.input-table th.edit {
  background-color: #fff;
  color: gray;
  font-style: italic;
}
.input-table td {
  background-color: #F5F5F5;
  padding: 10px 14px;
  height: 60px;
}
.input-table td.edit {
  background-color: #fff;
}

.ui-sortable-helper {
  width: 100% !important;
}

.alternatives-table .edit {
  width: 58px;
}

.weights-table th:not(:last-child) {
  min-width: auto;
}
.weights-table thead th:first-child {
  background-color: #fff;
}

.modal-table {
  border-collapse: collapse;
  width: 100%;
}
.modal-table th,
.modal-table td {
  border: 1px solid #0F1035;
  padding: 8px 16px;
  white-space: nowrap;
}

.modern-select {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #0F1035;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 8px 56px 8px 16px;
  width: 100%;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.modern-select[disabled] {
  background-color: #c6c6c6;
  cursor: not-allowed;
}
.modern-select:focus {
  background-image: linear-gradient(45deg, #0F1035 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #0F1035 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}
.modern-select:invalid {
  color: gray;
}

.modern-input {
  padding: 8px 8px 8px 16px;
  border: 1px solid #0F1035;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  color: #0F1035;
}
.modern-input[disabled] {
  background-color: #c6c6c6;
  cursor: not-allowed;
}
.modern-input:focus {
  outline: none;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 100%;
}

.add-btn {
  transition: 0.4s ease 0s;
  padding: 10px 12px;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  background-color: #597E52;
  width: fit-content;
  cursor: pointer;
}
.add-btn--disabled {
  background-color: #c6c6c6;
}

.set-btn {
  transition: 0.4s ease 0s;
  padding: 10px 12px;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  background-color: #c6c6c6;
  width: fit-content;
  cursor: not-allowed;
}
.set-btn--active {
  background-color: #597E52;
  cursor: pointer;
}

.unlock-btn {
  transition: 0.4s ease 0s;
  display: none;
  padding: 10px 12px;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  background-color: #597E52;
  width: fit-content;
  cursor: pointer;
}
.unlock-btn--active {
  display: inline-block;
}

.new-section {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
@media screen and (max-width: 1220px) {
  .new-section {
    width: 780px;
  }
}
@media screen and (max-width: 600px) {
  .new-section {
    width: 400px;
  }
}
.new-section__line {
  width: 100%;
  border: 1px solid gray;
  height: 1px;
}
.new-section__btn {
  transition: 0.4s ease 0s;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  font-weight: 700;
  color: #fff;
  background-color: #c6c6c6;
  cursor: not-allowed;
}
.new-section__btn--active {
  background-color: #FF9843;
  cursor: pointer;
}

.overflow-wrapper {
  overflow-x: auto;
}

.accordion-header {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1220px) {
  .accordion-header {
    width: 780px;
  }
}
@media screen and (max-width: 600px) {
  .accordion-header {
    width: 400px;
  }
}

.accordion {
  display: none;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.criteria {
  width: 1200px;
  display: block;
}
@media screen and (max-width: 1220px) {
  .criteria {
    width: 780px;
  }
}
@media screen and (max-width: 600px) {
  .criteria {
    width: 400px;
  }
}

.alternatives {
  width: 1200px;
}
@media screen and (max-width: 1220px) {
  .alternatives {
    width: 780px;
  }
}
@media screen and (max-width: 600px) {
  .alternatives {
    width: 400px;
  }
}

.weights {
  width: 1200px;
}
@media screen and (max-width: 1220px) {
  .weights {
    width: 780px;
  }
}
@media screen and (max-width: 600px) {
  .weights {
    width: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
