.header {
    height: 75px;
    width: 100%;
    background-color: $bg-blue;
    display: flex;
    justify-content: center;
    color: white;
    

    &__content {
        @include content-wrapper;
        
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;

        a:hover {
            text-decoration: underline;
        }
    }

    &__text-container {
        padding-top: 1px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}