.input-table {
  margin-top: 35px; // change lager 

  th {
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    background-color: $blue;
    color: #fff;

    &:not(:last-child) {
      // min-width: 232px;
    }

    &.name {
      // width: 250px;
    }

    &.beneficiality {
      // width: 200px;
    }

    &.edit {
      background-color: #fff;
      color: gray;
      font-style: italic;
      // width: 95px;
    }
  }

  td {
    background-color: #F5F5F5;
    padding: 10px 14px;
    height: 60px; // fixing height

    &:not(:last-child) {
      // min-width: 232px;
    }

    &.edit {
      background-color: #fff;
    }
  }
}

.ui-sortable-helper {
  width: 100% !important;
}

.alternatives-table {
  th:not(:last-child) {
    // min-width: 232px;
  }

  .edit {
    width: 58px;
  }
}

.weights-table {
  th:not(:last-child) {
    min-width: auto;
  }

  thead {
    th {
      &:first-child {
        background-color: #fff;
      }
    }
  }
}

.modal-table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid $blue;
    padding: 8px 16px;
    white-space: nowrap
  }
}