/* App colors here */
$persian-blue: #183db2;
$persian-blue-10: rgba(24, 61, 178, 0.1);
$blue-lagoon-20: rgba(109, 173, 237, 0.2);
$white-smoke: #f5f5f5;
$night: #111111;
$charcoal: #2C3E50;
$dark-gray: #878787;
$gray: #c6c6c6;
$light-gray: #e7e7e9;


/* Landing colors here */