html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: $night;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.mt-45 {
  margin-top: 45px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-15 {
  margin-bottom: 15px
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-45 {
  margin-bottom: 45px;
}

.w-100 {
  width: 100%;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.full-width {
  max-width: 1260px;
  width: 100%;

  @media screen and (max-width: 1260px) {
    padding: 0 20px;
  }
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none !important;
}

.line {
  height: 0;
  width: 100%;
  border-top: 1px solid $light-gray;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}